@import '../variables.scss';

[am-radio] {
    display: flex;
    position: relative;

    &:not([disabled]):hover {
        [am-radio-icon] {
            border-color: $color-main-blue-dark;
        }
    }

    > *:not(:last-child) {
        margin-right: 6px;
    }

    [am-radio-input],
    input {
        display: block;
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        opacity: 0;
        cursor: pointer;
    }

    [am-radio-wrapper] {
        display: flex;
        user-select: none;

        > *:not(:last-child) {
            margin-right: 6px;
        }
    }

    [am-radio-icon] {
        display: inline-block;
        border: 1.5px solid $color-main-blue-blur;
        width: 18px;
        height: 18px;
        border-radius: 3px;
        vertical-align: middle;
        position: relative;
        flex-shrink: 0;
        top: 2px;
        background: #fff;
        transition: all .1s ease-in-out;
        border-radius: 50%;
    }

    [am-radio-label] {
        // margin-left: 6px;
        display: inline-block;
    }

    input:checked + div [am-radio-icon],
    input:checked + label [am-radio-icon],
    input:checked + [am-radio-icon] {
        border-width: 6px;
        border-color: $color-main-blue-blur;
    }

    input:disabled + div [am-radio-icon],
    input:disabled + label [am-radio-icon],
    input:disabled + [am-radio-icon],
    input:disabled + div [am-radio-label],
    input:disabled + label [am-radio-label],
    input:disabled + [am-radio-label] {
        opacity: 0.4;
    }
}