// Container
$container-width: 1170px;
$container-width-lg: 960px;
$container-width-md: 768px;
$container-width-sm: 100%;

// Grid
$columns: 12;
$offset: 30px;

$offset-lg: 30px;
$offset-md: 30px;
$offset-sm: 10px;

// Breakpoints
$lg: 1169px;
$md: 959px;
$sm: 767px;


// Colors
$color-main: #ff0000;
$color-main-dark: #D9000D;
$color-main-gray: #A3A2A1;
$color-main-gray-light: #E6E4E1;
$color-main-green: #94F57C;
$color-main-blue-dark: #091F7C;
$color-main-blue: #2452C3;
$color-main-blue-blur: #475077;

$color-gray: #F5F5F5;
$color-gray-dark: #E8E8E8;
$color-gray-light: #F7F7F7;

$color-black: #4C4D4F;
$color-black-dark: #343434;
$color-black-light: #A3A2A1;

// SHADOW
$shadow: 0px 2px 5px rgba(0, 0, 0, 0.15), 0px 5px 15px rgba(0, 0, 0, 0.1);

// Z-INDEX
$zIndex-overlay: 999;
$zIndex-tooltip: 99;
$zIndex-dropdown: 99;
$zIndex-select: 99;
$zIndex-modal: 99;