.svg-a_arrow_back_mini {
	background: url("svg/sprite.view-0ded9920.svg") 98.51851851851852% 92.21789883268482% no-repeat;
}

.svg-a_arrow_back_mini-dims {
	width: 12px;
	height: 16px;
}

.svg-a_arrow_big {
	background: url("svg/sprite.view-0ded9920.svg") 29.601518026565465% 29.545454545454547% no-repeat;
}

.svg-a_arrow_big-dims {
	width: 25px;
	height: 46px;
}

.svg-a_arrow_big_dark {
	background: url("svg/sprite.view-0ded9920.svg") 29.601518026565465% 20.041322314049587% no-repeat;
}

.svg-a_arrow_big_dark-dims {
	width: 25px;
	height: 46px;
}

.svg-a_arrow_down_blue {
	background: url("svg/sprite.view-0ded9920.svg") 99.4392523364486% 86.92307692307692% no-repeat;
}

.svg-a_arrow_down_blue-dims {
	width: 17px;
	height: 10px;
}

.svg-a_arrow_down_dark {
	background: url("svg/sprite.view-0ded9920.svg") 96.29629629629629% 62.06896551724138% no-repeat;
}

.svg-a_arrow_down_dark-dims {
	width: 12px;
	height: 8px;
}

.svg-a_arrow_down_mini {
	background: url("svg/sprite.view-0ded9920.svg") 96.29629629629629% 60.53639846743295% no-repeat;
}

.svg-a_arrow_down_mini-dims {
	width: 12px;
	height: 8px;
}

.svg-a_arrow_down_red_mini {
	background: url("svg/sprite.view-0ded9920.svg") 96.29629629629629% 59.00383141762452% no-repeat;
}

.svg-a_arrow_down_red_mini-dims {
	width: 12px;
	height: 8px;
}

.svg-a_arrow_next_mini {
	background: url("svg/sprite.view-0ded9920.svg") 98.33641404805915% 78.16764132553607% no-repeat;
}

.svg-a_arrow_next_mini-dims {
	width: 11px;
	height: 17px;
}

.svg-a_arrow_up_mini {
	background: url("svg/sprite.view-0ded9920.svg") 64.49814126394052% 47.408829174664106% no-repeat;
}

.svg-a_arrow_up_mini-dims {
	width: 14px;
	height: 9px;
}

.svg-a_arrowlong_back_dark {
	background: url("svg/sprite.view-0ded9920.svg") 99.06890130353817% 94.5945945945946% no-repeat;
}

.svg-a_arrowlong_back_dark-dims {
	width: 15px;
	height: 12px;
}

.svg-a_arrowlong_next {
	background: url("svg/sprite.view-0ded9920.svg") 99.62546816479401% 74.90272373540856% no-repeat;
}

.svg-a_arrowlong_next-dims {
	width: 18px;
	height: 16px;
}

.svg-a_arrowlong_next_red {
	background: url("svg/sprite.view-0ded9920.svg") 99.4392523364486% 89.1891891891892% no-repeat;
}

.svg-a_arrowlong_next_red-dims {
	width: 17px;
	height: 12px;
}

.svg-a_basket {
	background: url("svg/sprite.view-0ded9920.svg") 39.23809523809524% 71.03174603174604% no-repeat;
}

.svg-a_basket-dims {
	width: 27px;
	height: 26px;
}

.svg-a_basket_small {
	background: url("svg/sprite.view-0ded9920.svg") 46.99248120300752% 98.82583170254404% no-repeat;
}

.svg-a_basket_small-dims {
	width: 20px;
	height: 19px;
}

.svg-a_check_red {
	background: url("svg/sprite.view-0ded9920.svg") 99.81238273921201% 44.37984496124031% no-repeat;
}

.svg-a_check_red-dims {
	width: 19px;
	height: 14px;
}

.svg-a_check_white {
	background: url("svg/sprite.view-0ded9920.svg") 99.06890130353817% 100% no-repeat;
}

.svg-a_check_white-dims {
	width: 15px;
	height: 13px;
}

.svg-a_close_black {
	background: url("svg/sprite.view-0ded9920.svg") 99.62546816479401% 64.6484375% no-repeat;
}

.svg-a_close_black-dims {
	width: 18px;
	height: 18px;
}

.svg-a_close_gray {
	background: url("svg/sprite.view-0ded9920.svg") 99.62546816479401% 68.1640625% no-repeat;
}

.svg-a_close_gray-dims {
	width: 18px;
	height: 18px;
}

.svg-a_close_gray_mini {
	background: url("svg/sprite.view-0ded9920.svg") 98.88475836431226% 97.47572815533981% no-repeat;
}

.svg-a_close_gray_mini-dims {
	width: 14px;
	height: 15px;
}

.svg-a_edit_red {
	background: url("svg/sprite.view-0ded9920.svg") 99.62546816479401% 51.171875% no-repeat;
}

.svg-a_edit_red-dims {
	width: 18px;
	height: 18px;
}

.svg-a_eye {
	background: url("svg/sprite.view-0ded9920.svg") 50.75187969924812% 36.310679611650485% no-repeat;
}

.svg-a_eye-dims {
	width: 20px;
	height: 15px;
}

.svg-a_favorite_dark {
	background: url("svg/sprite.view-0ded9920.svg") 100% 7.8277886497064575% no-repeat;
}

.svg-a_favorite_dark-dims {
	width: 20px;
	height: 19px;
}

.svg-a_favorite_red {
	background: url("svg/sprite.view-0ded9920.svg") 95.23809523809524% 83.99209486166008% no-repeat;
}

.svg-a_favorite_red-dims {
	width: 27px;
	height: 24px;
}

.svg-a_favorite_red_active {
	background: url("svg/sprite.view-0ded9920.svg") 95.23809523809524% 88.91089108910892% no-repeat;
}

.svg-a_favorite_red_active-dims {
	width: 27px;
	height: 25px;
}

.svg-a_favorite_red_small {
	background: url("svg/sprite.view-0ded9920.svg") 63.25757575757576% 70.33398821218074% no-repeat;
}

.svg-a_favorite_red_small-dims {
	width: 24px;
	height: 21px;
}

.svg-a_favorite_red_small_active {
	background: url("svg/sprite.view-0ded9920.svg") 58.71212121212121% 70.33398821218074% no-repeat;
}

.svg-a_favorite_red_small_active-dims {
	width: 24px;
	height: 21px;
}

.svg-a_info {
	background: url("svg/sprite.view-0ded9920.svg") 99.4392523364486% 81.48148148148148% no-repeat;
}

.svg-a_info-dims {
	width: 17px;
	height: 17px;
}

.svg-a_info_blue {
	background: url("svg/sprite.view-0ded9920.svg") 99.4392523364486% 84.7953216374269% no-repeat;
}

.svg-a_info_blue-dims {
	width: 17px;
	height: 17px;
}

.svg-a_info_white {
	background: url("svg/sprite.view-0ded9920.svg") 99.81238273921201% 11.568627450980392% no-repeat;
}

.svg-a_info_white-dims {
	width: 19px;
	height: 20px;
}

.svg-a_login_small {
	background: url("svg/sprite.view-0ded9920.svg") 100% 15.490196078431373% no-repeat;
}

.svg-a_login_small-dims {
	width: 20px;
	height: 20px;
}

.svg-a_logout_small {
	background: url("svg/sprite.view-0ded9920.svg") 99.81238273921201% 26.810176125244617% no-repeat;
}

.svg-a_logout_small-dims {
	width: 19px;
	height: 19px;
}

.svg-a_play {
	background: url("svg/sprite.view-0ded9920.svg") 95.78544061302682% 55.6% no-repeat;
}

.svg-a_play-dims {
	width: 30px;
	height: 30px;
}

.svg-a_reload_red {
	background: url("svg/sprite.view-0ded9920.svg") 53.90334572490706% 36.24031007751938% no-repeat;
}

.svg-a_reload_red-dims {
	width: 14px;
	height: 14px;
}

.svg-a_search {
	background: url("svg/sprite.view-0ded9920.svg") 9.297912713472487% 94.85148514851485% no-repeat;
}

.svg-a_search-dims {
	width: 25px;
	height: 25px;
}

.svg-a_search_dark {
	background: url("svg/sprite.view-0ded9920.svg") 31.947069943289225% 94.47731755424063% no-repeat;
}

.svg-a_search_dark-dims {
	width: 23px;
	height: 23px;
}

.svg-a_search_small {
	background: url("svg/sprite.view-0ded9920.svg") 99.62546816479401% 57.6171875% no-repeat;
}

.svg-a_search_small-dims {
	width: 18px;
	height: 18px;
}

.svg-a_searching_dark {
	background: url("svg/sprite.view-0ded9920.svg") 54.079696394686906% 70.4724409448819% no-repeat;
}

.svg-a_searching_dark-dims {
	width: 25px;
	height: 22px;
}

.svg-a_send {
	background: url("svg/sprite.view-0ded9920.svg") 55.99214145383104% 83.16221765913758% no-repeat;
}

.svg-a_send-dims {
	width: 43px;
	height: 43px;
}

.svg-a_send_rotate {
	background: url("svg/sprite.view-0ded9920.svg") 0 95.03968253968254% no-repeat;
}

.svg-a_send_rotate-dims {
	width: 26px;
	height: 26px;
}

.svg-a_settings {
	background: url("svg/sprite.view-0ded9920.svg") 21.928166351606805% 99.80237154150197% no-repeat;
}

.svg-a_settings-dims {
	width: 23px;
	height: 24px;
}

.svg-cart_empty {
	background: url("svg/sprite.view-0ded9920.svg") 48.23232323232323% 0 no-repeat;
}

.svg-cart_empty-dims {
	width: 156px;
	height: 151px;
}

.svg-cart_empty_small {
	background: url("svg/sprite.view-0ded9920.svg") 67.76315789473684% 59.496567505720826% no-repeat;
}

.svg-cart_empty_small-dims {
	width: 96px;
	height: 93px;
}

.svg-catalog_car {
	background: url("svg/sprite.view-0ded9920.svg") 84.8076923076923% 81.32530120481928% no-repeat;
}

.svg-catalog_car-dims {
	width: 32px;
	height: 32px;
}

.svg-catalog_car_small {
	background: url("svg/sprite.view-0ded9920.svg") 53.20754716981132% 94.29133858267717% no-repeat;
}

.svg-catalog_car_small-dims {
	width: 22px;
	height: 22px;
}

.svg-catalog_child {
	background: url("svg/sprite.view-0ded9920.svg") 96.15384615384616% 0 no-repeat;
}

.svg-catalog_child-dims {
	width: 32px;
	height: 32px;
}

.svg-catalog_child_small {
	background: url("svg/sprite.view-0ded9920.svg") 49.056603773584904% 94.29133858267717% no-repeat;
}

.svg-catalog_child_small-dims {
	width: 22px;
	height: 22px;
}

.svg-catalog_clock_small {
	background: url("svg/sprite.view-0ded9920.svg") 44.905660377358494% 94.29133858267717% no-repeat;
}

.svg-catalog_clock_small-dims {
	width: 22px;
	height: 22px;
}

.svg-catalog_clothes {
	background: url("svg/sprite.view-0ded9920.svg") 96.15384615384616% 6.42570281124498% no-repeat;
}

.svg-catalog_clothes-dims {
	width: 32px;
	height: 32px;
}

.svg-catalog_computer {
	background: url("svg/sprite.view-0ded9920.svg") 96.15384615384616% 12.749003984063744% no-repeat;
}

.svg-catalog_computer-dims {
	width: 32px;
	height: 28px;
}

.svg-catalog_computer_small {
	background: url("svg/sprite.view-0ded9920.svg") 36.41509433962264% 88.4765625% no-repeat;
}

.svg-catalog_computer_small-dims {
	width: 22px;
	height: 18px;
}

.svg-catalog_forhome {
	background: url("svg/sprite.view-0ded9920.svg") 96.15384615384616% 24.899598393574298% no-repeat;
}

.svg-catalog_forhome-dims {
	width: 32px;
	height: 32px;
}

.svg-catalog_forhome_small {
	background: url("svg/sprite.view-0ded9920.svg") 93.01886792452831% 94.29133858267717% no-repeat;
}

.svg-catalog_forhome_small-dims {
	width: 22px;
	height: 22px;
}

.svg-catalog_games {
	background: url("svg/sprite.view-0ded9920.svg") 96.15384615384616% 36.54618473895582% no-repeat;
}

.svg-catalog_games-dims {
	width: 32px;
	height: 32px;
}

.svg-catalog_games_small {
	background: url("svg/sprite.view-0ded9920.svg") 85.28301886792453% 94.29133858267717% no-repeat;
}

.svg-catalog_games_small-dims {
	width: 22px;
	height: 22px;
}

.svg-catalog_gym {
	background: url("svg/sprite.view-0ded9920.svg") 96.15384615384616% 49.397590361445786% no-repeat;
}

.svg-catalog_gym-dims {
	width: 32px;
	height: 32px;
}

.svg-catalog_gym_small {
	background: url("svg/sprite.view-0ded9920.svg") 3.977272727272727% 99.80237154150197% no-repeat;
}

.svg-catalog_gym_small-dims {
	width: 24px;
	height: 24px;
}

.svg-catalog_menu {
	background: url("svg/sprite.view-0ded9920.svg") 27.735849056603772% 94.47731755424063% no-repeat;
}

.svg-catalog_menu-dims {
	width: 22px;
	height: 23px;
}

.svg-catalog_menuM {
	background: url("svg/sprite.view-0ded9920.svg") 99.62546816479401% 71.6796875% no-repeat;
}

.svg-catalog_menuM-dims {
	width: 18px;
	height: 18px;
}

.svg-catalog_menuM_gray {
	background: url("svg/sprite.view-0ded9920.svg") 99.62546816479401% 61.1328125% no-repeat;
}

.svg-catalog_menuM_gray-dims {
	width: 18px;
	height: 18px;
}

.svg-catalog_menu_small {
	background: url("svg/sprite.view-0ded9920.svg") 100% 19.3359375% no-repeat;
}

.svg-catalog_menu_small-dims {
	width: 20px;
	height: 18px;
}

.svg-catalog_music {
	background: url("svg/sprite.view-0ded9920.svg") 30% 45.78313253012048% no-repeat;
}

.svg-catalog_music-dims {
	width: 32px;
	height: 32px;
}

.svg-catalog_music_small {
	background: url("svg/sprite.view-0ded9920.svg") 60.943396226415096% 94.29133858267717% no-repeat;
}

.svg-catalog_music_small-dims {
	width: 22px;
	height: 22px;
}

.svg-catalog_phone {
	background: url("svg/sprite.view-0ded9920.svg") 93.98496240601504% 61.6% no-repeat;
}

.svg-catalog_phone-dims {
	width: 20px;
	height: 30px;
}

.svg-catalog_phone_small {
	background: url("svg/sprite.view-0ded9920.svg") 34.701492537313435% 99.80237154150197% no-repeat;
}

.svg-catalog_phone_small-dims {
	width: 16px;
	height: 24px;
}

.svg-catalog_photo {
	background: url("svg/sprite.view-0ded9920.svg") 96.15384615384616% 42.971887550200805% no-repeat;
}

.svg-catalog_photo-dims {
	width: 32px;
	height: 32px;
}

.svg-catalog_photo_small {
	background: url("svg/sprite.view-0ded9920.svg") 81.13207547169812% 94.29133858267717% no-repeat;
}

.svg-catalog_photo_small-dims {
	width: 22px;
	height: 22px;
}

.svg-catalog_tool {
	background: url("svg/sprite.view-0ded9920.svg") 96.15384615384616% 30.952380952380953% no-repeat;
}

.svg-catalog_tool-dims {
	width: 32px;
	height: 26px;
}

.svg-catalog_tool_small {
	background: url("svg/sprite.view-0ded9920.svg") 76.98113207547169% 94.29133858267717% no-repeat;
}

.svg-catalog_tool_small-dims {
	width: 22px;
	height: 22px;
}

.svg-catalog_tv {
	background: url("svg/sprite.view-0ded9920.svg") 96.15384615384616% 18.473895582329316% no-repeat;
}

.svg-catalog_tv-dims {
	width: 32px;
	height: 32px;
}

.svg-catalog_tv_small {
	background: url("svg/sprite.view-0ded9920.svg") 69.24528301886792% 94.29133858267717% no-repeat;
}

.svg-catalog_tv_small-dims {
	width: 22px;
	height: 22px;
}

.svg-confirm_red {
	background: url("svg/sprite.view-0ded9920.svg") 15.481171548117155% 88.8157894736842% no-repeat;
}

.svg-confirm_red-dims {
	width: 74px;
	height: 74px;
}

.svg-delivery {
	background: url("svg/sprite.view-0ded9920.svg") 0 67.53246753246754% no-repeat;
}

.svg-delivery-dims {
	width: 113px;
	height: 145px;
}

.svg-exclamation_red {
	background: url("svg/sprite.view-0ded9920.svg") 0 88.8157894736842% no-repeat;
}

.svg-exclamation_red-dims {
	width: 74px;
	height: 74px;
}

.svg-favorite_empty {
	background: url("svg/sprite.view-0ded9920.svg") 0 26.430517711171664% no-repeat;
}

.svg-favorite_empty-dims {
	width: 156px;
	height: 163px;
}

.svg-favorite_empty_small {
	background: url("svg/sprite.view-0ded9920.svg") 87.28448275862068% 59.496567505720826% no-repeat;
}

.svg-favorite_empty_small-dims {
	width: 88px;
	height: 93px;
}

.svg-icon_copy {
	background: url("svg/sprite.view-0ded9920.svg") 89.413988657845% 80.35714285714286% no-repeat;
}

.svg-icon_copy-dims {
	width: 23px;
	height: 26px;
}

.svg-icon_document {
	background: url("svg/sprite.view-0ded9920.svg") 100% 22.941176470588236% no-repeat;
}

.svg-icon_document-dims {
	width: 20px;
	height: 20px;
}

.svg-logo_christmas {
	background: url("svg/sprite.view-0ded9920.svg") 0 0 no-repeat;
}

.svg-logo_christmas-dims {
	width: 191px;
	height: 55px;
}

.svg-logo_christmas_white_small {
	background: url("svg/sprite.view-0ded9920.svg") 84.42822384428224% 29.568788501026695% no-repeat;
}

.svg-logo_christmas_white_small-dims {
	width: 141px;
	height: 43px;
}

.svg-logo_main {
	background: url("svg/sprite.view-0ded9920.svg") 0 11.270491803278688% no-repeat;
}

.svg-logo_main-dims {
	width: 181px;
	height: 42px;
}

.svg-logo_medium {
	background: url("svg/sprite.view-0ded9920.svg") 47.98994974874372% 30.5668016194332% no-repeat;
}

.svg-logo_medium-dims {
	width: 154px;
	height: 36px;
}

.svg-logo_small {
	background: url("svg/sprite.view-0ded9920.svg") 77.45535714285714% 43.737574552683895% no-repeat;
}

.svg-logo_small-dims {
	width: 104px;
	height: 27px;
}

.svg-logo_text {
	background: url("svg/sprite.view-0ded9920.svg") 40.38054968287526% 36.310679611650485% no-repeat;
}

.svg-logo_text-dims {
	width: 79px;
	height: 15px;
}

.svg-logo_white_small {
	background: url("svg/sprite.view-0ded9920.svg") 82.61904761904762% 37.625754527162975% no-repeat;
}

.svg-logo_white_small-dims {
	width: 132px;
	height: 33px;
}

.svg-map_dot {
	background: url("svg/sprite.view-0ded9920.svg") 29.191321499013807% 87.85249457700651% no-repeat;
}

.svg-map_dot-dims {
	width: 45px;
	height: 69px;
}

.svg-order_empty {
	background: url("svg/sprite.view-0ded9920.svg") 86.96741854636592% 0 no-repeat;
}

.svg-order_empty-dims {
	width: 153px;
	height: 144px;
}

.svg-order_empty_small {
	background: url("svg/sprite.view-0ded9920.svg") 45.87973273942094% 60.18518518518518% no-repeat;
}

.svg-order_empty_small-dims {
	width: 103px;
	height: 98px;
}

.svg-place_red_big {
	background: url("svg/sprite.view-0ded9920.svg") 24.618736383442265% 64.19753086419753% no-repeat;
}

.svg-place_red_big-dims {
	width: 93px;
	height: 125px;
}

.svg-pseudo_photo {
	background: url("svg/sprite.view-0ded9920.svg") 38.12375249500998% 41.478439425051334% no-repeat;
}

.svg-pseudo_photo-dims {
	width: 51px;
	height: 43px;
}

.svg-social_instagramm {
	background: url("svg/sprite.view-0ded9920.svg") 71.53996101364523% 82.4847250509165% no-repeat;
}

.svg-social_instagramm-dims {
	width: 39px;
	height: 39px;
}

.svg-social_viber {
	background: url("svg/sprite.view-0ded9920.svg") 95.41984732824427% 67.6% no-repeat;
}

.svg-social_viber-dims {
	width: 28px;
	height: 30px;
}

.svg-social_vk {
	background: url("svg/sprite.view-0ded9920.svg") 63.93762183235867% 82.4847250509165% no-repeat;
}

.svg-social_vk-dims {
	width: 39px;
	height: 39px;
}

.svg-social_whatsapp {
	background: url("svg/sprite.view-0ded9920.svg") 42.803030303030305% 99.80237154150197% no-repeat;
}

.svg-social_whatsapp-dims {
	width: 24px;
	height: 24px;
}

.svg-social_youtube {
	background: url("svg/sprite.view-0ded9920.svg") 47.44094488188976% 83.33333333333333% no-repeat;
}

.svg-social_youtube-dims {
	width: 44px;
	height: 44px;
}

.svg-social_youtube_mini {
	background: url("svg/sprite.view-0ded9920.svg") 99.81238273921201% 47.55381604696673% no-repeat;
}

.svg-social_youtube_mini-dims {
	width: 19px;
	height: 19px;
}

.svg-symbol_red {
	background: url("svg/sprite.view-0ded9920.svg") 21.32075471698113% 75.04873294346979% no-repeat;
}

.svg-symbol_red-dims {
	width: 22px;
	height: 17px;
}

.svg-symbol_white {
	background: url("svg/sprite.view-0ded9920.svg") 17.424242424242426% 99.80237154150197% no-repeat;
}

.svg-symbol_white-dims {
	width: 24px;
	height: 24px;
}

.svg-ui_24hours {
	background: url("svg/sprite.view-0ded9920.svg") 95.60229445506693% 73.45309381237524% no-repeat;
}

.svg-ui_24hours-dims {
	width: 29px;
	height: 29px;
}

.svg-ui_bonuse_small {
	background: url("svg/sprite.view-0ded9920.svg") 100% 0 no-repeat;
}

.svg-ui_bonuse_small-dims {
	width: 20px;
	height: 20px;
}

.svg-ui_box {
	background: url("svg/sprite.view-0ded9920.svg") 13.043478260869565% 99.80237154150197% no-repeat;
}

.svg-ui_box-dims {
	width: 23px;
	height: 24px;
}

.svg-ui_box_dark {
	background: url("svg/sprite.view-0ded9920.svg") 4.914933837429111% 94.85148514851485% no-repeat;
}

.svg-ui_box_dark-dims {
	width: 23px;
	height: 25px;
}

.svg-ui_car_red {
	background: url("svg/sprite.view-0ded9920.svg") 99.62546816479401% 54.36893203883495% no-repeat;
}

.svg-ui_car_red-dims {
	width: 18px;
	height: 15px;
}

.svg-ui_cart_red {
	background: url("svg/sprite.view-0ded9920.svg") 44.29657794676806% 70.4724409448819% no-repeat;
}

.svg-ui_cart_red-dims {
	width: 26px;
	height: 22px;
}

.svg-ui_chat {
	background: url("svg/sprite.view-0ded9920.svg") 85.9047619047619% 43.737574552683895% no-repeat;
}

.svg-ui_chat-dims {
	width: 27px;
	height: 27px;
}

.svg-ui_credit {
	background: url("svg/sprite.view-0ded9920.svg") 72.0226843100189% 69.64980544747081% no-repeat;
}

.svg-ui_credit-dims {
	width: 23px;
	height: 16px;
}

.svg-ui_delivery {
	background: url("svg/sprite.view-0ded9920.svg") 67.67485822306239% 70.19607843137256% no-repeat;
}

.svg-ui_delivery-dims {
	width: 23px;
	height: 20px;
}

.svg-ui_document_dark {
	background: url("svg/sprite.view-0ded9920.svg") 100% 3.9215686274509802% no-repeat;
}

.svg-ui_document_dark-dims {
	width: 20px;
	height: 20px;
}

.svg-ui_favorites_small {
	background: url("svg/sprite.view-0ded9920.svg") 99.81238273921201% 30.4093567251462% no-repeat;
}

.svg-ui_favorites_small-dims {
	width: 19px;
	height: 17px;
}

.svg-ui_filial {
	background: url("svg/sprite.view-0ded9920.svg") 0 100% no-repeat;
}

.svg-ui_filial-dims {
	width: 21px;
	height: 25px;
}

.svg-ui_form {
	background: url("svg/sprite.view-0ded9920.svg") 38.29365079365079% 84.02489626556017% no-repeat;
}

.svg-ui_form-dims {
	width: 48px;
	height: 48px;
}

.svg-ui_globus_red {
	background: url("svg/sprite.view-0ded9920.svg") 65.09433962264151% 94.29133858267717% no-repeat;
}

.svg-ui_globus_red-dims {
	width: 22px;
	height: 22px;
}

.svg-ui_headphone {
	background: url("svg/sprite.view-0ded9920.svg") 56.22568093385214% 40.89068825910931% no-repeat;
}

.svg-ui_headphone-dims {
	width: 38px;
	height: 36px;
}

.svg-ui_home {
	background: url("svg/sprite.view-0ded9920.svg") 14.041745730550284% 94.66403162055336% no-repeat;
}

.svg-ui_home-dims {
	width: 25px;
	height: 24px;
}

.svg-ui_pass_small {
	background: url("svg/sprite.view-0ded9920.svg") 99.81238273921201% 33.7890625% no-repeat;
}

.svg-ui_pass_small-dims {
	width: 19px;
	height: 18px;
}

.svg-ui_people_red {
	background: url("svg/sprite.view-0ded9920.svg") 49.239543726235745% 70.4724409448819% no-repeat;
}

.svg-ui_people_red-dims {
	width: 26px;
	height: 22px;
}

.svg-ui_percent_dark {
	background: url("svg/sprite.view-0ded9920.svg") 30.812854442344044% 99.80237154150197% no-repeat;
}

.svg-ui_percent_dark-dims {
	width: 23px;
	height: 24px;
}

.svg-ui_phone_red {
	background: url("svg/sprite.view-0ded9920.svg") 57.03564727954972% 94.29133858267717% no-repeat;
}

.svg-ui_phone_red-dims {
	width: 19px;
	height: 22px;
}

.svg-ui_phone_small {
	background: url("svg/sprite.view-0ded9920.svg") 89.70037453183521% 37.1031746031746% no-repeat;
}

.svg-ui_phone_small-dims {
	width: 18px;
	height: 26px;
}

.svg-ui_phone_small1 {
	background: url("svg/sprite.view-0ded9920.svg") 61.007462686567166% 40% no-repeat;
}

.svg-ui_phone_small1-dims {
	width: 16px;
	height: 25px;
}

.svg-ui_photo_dark {
	background: url("svg/sprite.view-0ded9920.svg") 47.92079207920792% 40.973630831643% no-repeat;
}

.svg-ui_photo_dark-dims {
	width: 47px;
	height: 37px;
}

.svg-ui_placeM_small {
	background: url("svg/sprite.view-0ded9920.svg") 94.33962264150944% 79.08366533864542% no-repeat;
}

.svg-ui_placeM_small-dims {
	width: 22px;
	height: 28px;
}

.svg-ui_place_dark {
	background: url("svg/sprite.view-0ded9920.svg") 29.82791586998088% 38.4928716904277% no-repeat;
}

.svg-ui_place_dark-dims {
	width: 29px;
	height: 39px;
}

.svg-ui_place_red {
	background: url("svg/sprite.view-0ded9920.svg") 88.93058161350844% 94.29133858267717% no-repeat;
}

.svg-ui_place_red-dims {
	width: 19px;
	height: 22px;
}

.svg-ui_place_small {
	background: url("svg/sprite.view-0ded9920.svg") 89.84962406015038% 43.65079365079365% no-repeat;
}

.svg-ui_place_small-dims {
	width: 20px;
	height: 26px;
}

.svg-ui_question {
	background: url("svg/sprite.view-0ded9920.svg") 40.64272211720227% 94.47731755424063% no-repeat;
}

.svg-ui_question-dims {
	width: 23px;
	height: 23px;
}

.svg-ui_ring {
	background: url("svg/sprite.view-0ded9920.svg") 78.52998065764024% 81.81818181818181% no-repeat;
}

.svg-ui_ring-dims {
	width: 35px;
	height: 35px;
}

.svg-ui_ring_small {
	background: url("svg/sprite.view-0ded9920.svg") 8.522727272727273% 99.80237154150197% no-repeat;
}

.svg-ui_ring_small-dims {
	width: 24px;
	height: 24px;
}

.svg-ui_rub {
	background: url("svg/sprite.view-0ded9920.svg") 36.294896030245745% 94.47731755424063% no-repeat;
}

.svg-ui_rub-dims {
	width: 23px;
	height: 23px;
}

.svg-ui_time_red {
	background: url("svg/sprite.view-0ded9920.svg") 72.98311444652909% 94.29133858267717% no-repeat;
}

.svg-ui_time_red-dims {
	width: 19px;
	height: 22px;
}

.svg-ui_user {
	background: url("svg/sprite.view-0ded9920.svg") 26.325757575757574% 99.80237154150197% no-repeat;
}

.svg-ui_user-dims {
	width: 24px;
	height: 24px;
}

.svg-ui_user_avatar {
	background: url("svg/sprite.view-0ded9920.svg") 23.440453686200378% 94.47731755424063% no-repeat;
}

.svg-ui_user_avatar-dims {
	width: 23px;
	height: 23px;
}

.svg-ui_user_small {
	background: url("svg/sprite.view-0ded9920.svg") 99.81238273921201% 41.0958904109589% no-repeat;
}

.svg-ui_user_small-dims {
	width: 19px;
	height: 19px;
}

.svg-ui_wallet {
	background: url("svg/sprite.view-0ded9920.svg") 18.785578747628083% 94.47731755424063% no-repeat;
}

.svg-ui_wallet-dims {
	width: 25px;
	height: 23px;
}

.svg-ui_wrench_red {
	background: url("svg/sprite.view-0ded9920.svg") 38.25757575757576% 99.80237154150197% no-repeat;
}

.svg-ui_wrench_red-dims {
	width: 24px;
	height: 24px;
}

.svg-ui_youtube {
	background: url("svg/sprite.view-0ded9920.svg") 99.81238273921201% 37.37769080234834% no-repeat;
}

.svg-ui_youtube-dims {
	width: 19px;
	height: 19px;
}

