<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/bundles/css/index.css">
    <link rel="shortcut icon" href="favicon.ico">
    <link href="favicon.ico" rel="icon" type="image/ico" />
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
</head>

<body>

    <div am-wrapper="evaluation">
        <div am-container="">

            <form am-form="news">
                <div am-form-field width="100">
                    <div am-input="surname">
                        <div am-hint="top">Фамилия</div>
                        <div am-input-group>
                            <div am-check></div>
                            <input name="surname" type="text" placeholder="Фамилия" autocomplete="off">
                        </div>
                    </div>

                    <div am-input="name">
                        <div am-hint="top">Имя <span am-required="">*</span></div>
                        <div am-input-group>
                            <div am-check></div>
                            <input name="name" type="text" placeholder="Имя" autocomplete="off">
                        </div>
                    </div>

                    <div am-input="patronymic">
                        <div am-hint="top">Отчество</div>
                        <div am-input-group>
                            <div am-check></div>
                            <input name="patronymic" type="text" placeholder="Отчество" autocomplete="off" value="qweqwe">
                        </div>
                    </div>
                </div>

                <div am-form-field width="auto">
                    <div am-input="phone">
                        <div am-hint="top">Телефон <span am-required="">*</span></div>
                        <div am-input-group>
                            <div am-check></div>
                            <input name="phone" placeholder="+7 (900) 000-0000" type="tel" autocomplete="off">
                        </div>
                    </div>

                    <div am-input="email">
                        <div am-hint="top">Email</div>
                        <div am-input-group>
                            <div am-check></div>
                            <input name="email" type="email" placeholder="" autocomplete="off">
                        </div>
                    </div>
                </div>

                <div am-form-field>
                    <div am-input="message">
                        <div am-hint="top">Сообщение</div>
                        <textarea name="message" rows="7" placeholder="Ваше сообщение.">qweqweqwe</textarea>
                    </div>
                </div>

                <div am-form-field width="auto">
                    <div am-select am-input="city">
                        <input am-select-input hidden type="text" name="city" value="">
                        <div am-select-value="">Выберите город</div>
                        <div am-select-wrapper>
                            <div am-select-options>
                                <div am-select-option="0">Все города</div>
                                <div am-select-option="1">Москва</div>
                                <div am-select-option="2">Самара</div>
                                <div am-select-option="3">Тольятти</div>
                                <div am-select-option="4">Казань</div>
                                <div am-select-option="5">Сызрань</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div am-form-field>
                    <div am-checkbox>
                        <input am-checkbox-input name="subscribe" type="checkbox">
                        <div am-checkbox-wrapper>
                            <div am-checkbox-icon></div>
                            <div am-checkbox-label>Подписать на новости</div>
                        </div>
                    </div>
                </div>

                <div am-form-field>
                    <button am-button="main" type="submit">Подписаться</button>
                </div>
            </form>

        </div>
    </div>

    <script src="/bundles/js/index.js"></script>
</body>

</html>