<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/bundles/css/index.css">
    <link rel="shortcut icon" href="favicon.ico">
    <link href="favicon.ico" rel="icon" type="image/ico" />
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<div am-modal-overlay>
    <div am-modal="modal_bubble">
        <div am-modal-close></div>
        <div am-modal-content>
            modal_bubble-content
        </div>
    </div>
</div>
<body>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div am-select>
        <input am-select-input type="hidden" name="city" value="0">
        <div am-select-value="">Выберите город</div>
        <div am-select-wrapper>
            <div am-select-options>
                <div am-select-option="0">Все города</div>
                <div am-select-option="1">Москва</div>
                <div am-select-option="2">Самара</div>
                <div am-select-option="3">Тольятти</div>
                <div am-select-option="4">Казань</div>
                <div am-select-option="5">Сызрань</div>
            </div>
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <div am-container="">
        <div am-container="">

            <div am-grid="container" spacing="1">
                <div am-grid="item" elg="3" sm="12" spacing="1">
                    <div am-dropdown>
                        <div am-dropdown-header>dropdown-bottom (default)</div>
                        <div am-dropdown-content direction="bottom">
                            <div am-dropdown-wrapper>
                                <div am-dropdown-arrow></div>
                                <ul>
                                    <li>
                                        <a href="/frontend/components/dropdown">/frontend/components/dropdown</a>
                                    </li>
                                    <li>dropdown-item-2</li>
                                    <li>dropdown-item-3</li>
                                    <li>dropdown-item-4</li>
                                    <li>dropdown-item-5</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div am-grid="item" elg="3" sm="12" spacing="1">
                    <div am-dropdown>
                        <div am-dropdown-header>dropdown-top</div>
                        <div am-dropdown-content direction="top">
                            <div am-dropdown-wrapper>
                                <div am-dropdown-arrow></div>
                                <ul>
                                    <li>dropdown-item-1</li>
                                    <li>dropdown-item-2</li>
                                    <li>dropdown-item-3</li>
                                    <li>dropdown-item-4</li>
                                    <li>dropdown-item-5</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div am-container="">

            <div am-grid="container" spacing="1">
                <div am-grid="item" elg="3" sm="12" spacing="1">
                    <div am-tooltip>
                        <div am-tooltip-header>tooltip-bottom (default)</div>
                        <div am-tooltip-content direction="bottom">
                            <div am-tooltip-wrapper>
                                <div am-tooltip-arrow></div>
                                <ul>
                                    <li>
                                        <a href="/uikit/components/tooltip">/uikit/components/tooltip</a>
                                    </li>
                                    <li>tooltip-item-2</li>
                                    <li>tooltip-item-3</li>
                                    <li>tooltip-item-4</li>
                                    <li>tooltip-item-5</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div am-grid="item" elg="3" sm="12" spacing="1">
                    <div am-tooltip>
                        <div am-tooltip-header>tooltip-left</div>
                        <div am-tooltip-content direction="left">
                            <div am-tooltip-wrapper>
                                <div am-tooltip-arrow></div>
                                <ul>
                                    <li>tooltip-item-1</li>
                                    <li>tooltip-item-2</li>
                                    <li>tooltip-item-3</li>
                                    <li>tooltip-item-4</li>
                                    <li>tooltip-item-5</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div am-grid="item" elg="3" sm="12" spacing="1">
                    <div am-tooltip>
                        <div am-tooltip-header>tooltip-top</div>
                        <div am-tooltip-content direction="top">
                            <div am-tooltip-wrapper>
                                <div am-tooltip-arrow></div>
                                <ul>
                                    <li>tooltip-item-1</li>
                                    <li>tooltip-item-2</li>
                                    <li>tooltip-item-3</li>
                                    <li>tooltip-item-4</li>
                                    <li>tooltip-item-5</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div am-grid="item" elg="3" sm="12" spacing="1">
                    <div am-tooltip>
                        <div am-tooltip-header>tooltip-right</div>
                        <div am-tooltip-content direction="right">
                            <div am-tooltip-wrapper>
                                <div am-tooltip-arrow></div>
                                <ul>
                                    <li>tooltip-item-1</li>
                                    <li>tooltip-item-2</li>
                                    <li>tooltip-item-3</li>
                                    <li>tooltip-item-4</li>
                                    <li>tooltip-item-5</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script src="/bundles/js/index.js"></script>
</body>

</html>