@import '../variables.scss';

[am-checkbox] {
    display: flex;
    align-items: center;
    line-height: 1;
    position: relative;

    &:not([disabled]):hover {
        [am-checkbox-icon] {
            border-color: $color-main-blue-blur;
        }
    }

    > *:not(:last-child) {
        margin-right: 6px;
    }

    [am-checkbox-input],
    input {
        display: block;
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        opacity: 0;
        cursor: pointer;
    }

    [am-checkbox-wrapper] {
        display: flex;
        user-select: none;

        > *:not(:last-child) {
            margin-right: 6px;
        }
    }

    [am-checkbox-icon] {
        display: inline-block;
        border: 1px solid $color-main-gray-light;
        width: 18px;
        height: 18px;
        border-radius: 3px;
        vertical-align: middle;
        position: relative;
        flex-shrink: 0;
        background: #fff;
        transition: all .1s ease-in-out;

        &::after {
            content: "";
            position: absolute;
            display: block;
            right: 5px;
            top: 1px;
            width: 4px;
            height: 8px;
            border: solid #fff;
            background: transparent;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
            opacity: 0;
            margin-top: -3px;
            transition: all .1s ease-in-out;
        }
    }

    [am-checkbox-label] {
        // margin-left: 6px;
        display: inline-block;
    }

    input:checked + div [am-checkbox-icon],
    input:checked + label [am-checkbox-icon],
    input:checked + [am-checkbox-icon] {
        background: $color-main-blue-blur;
        border-color: $color-main-blue-blur;
    }

    input:disabled + div [am-checkbox-icon],
    input:disabled  + label [am-checkbox-icon],
    input:disabled  + [am-checkbox-icon],
    input:disabled + div [am-checkbox-label],
    input:disabled  + label [am-checkbox-label],
    input:disabled  + [am-checkbox-label] {
        opacity: 0.4;
    }

    [am-checkbox-input]:checked + div [am-checkbox-icon]::after,
    [am-checkbox-input]:checked + label [am-checkbox-icon]::after,
    [am-checkbox-input]:checked + [am-checkbox-icon]::after,
    input:checked + div [am-checkbox-icon]::after,
    input:checked + label [am-checkbox-icon]::after,
    input:checked + [am-checkbox-icon]::after {
        opacity: 1;
        margin-top: 0px;
    }
}