@import '../variables.scss';

[am-wrapper] {
    box-sizing: border-box;
}

[am-container] {
    max-width: $container-width;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    padding-left: $offset;
    padding-right: $offset;
    transition: all .3s ease-in-out;
}

@media (max-width: $lg) {
    [am-container] {
        max-width: $container-width-lg;
        padding-left:$offset-lg;
        padding-right: $offset-lg;
    }
}

@media (max-width: $md) {
    [am-container] {
        max-width: $container-width-md;
        padding-left:$offset-md;
        padding-right: $offset-md;
    }
}

@media (max-width: $sm) {
    [am-container] {
        max-width: $container-width-sm;
        padding-left:$offset-sm;
        padding-right: $offset-sm;
    }
}