@import '../variables.scss';

*[spinner] {
    position: relative;
    color: transparent!important;

    [am-spinner] {
        position: absolute;
        transform: translateX(-50%) translateY(-50%);
        top: 50%;
        left: 50%;
    }
}

[am-button]:not([spinner]) {
    [am-spinner] {
        display: none;
    }
}

[am-spinner] {
	position: relative;
	margin: 0;
	text-align: center;
	width: 2.28571429rem;
    height: 2.28571429rem;
	font-size: 1rem;
    box-sizing: border-box;
    display: inline-block;

    &[center] {
        position: absolute;
        transform: translateX(-50%) translateY(-50%);
        top: 50%;
        left: 50%;
    }

    &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 50%;
        width: 100%;
        height: 100%;
        border-radius: 500rem;
        border: .2em solid rgba(0, 0, 0, .1);
    }

    &::after {
        position: absolute;
        content: '';
        top: 0;
        left: 50%;
        width: 100%;
        height: 100%;
        -webkit-animation: am-spinner .6s linear;
        animation: am-spinner .6s linear;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        border-radius: 500rem;
        border-color: #767676 transparent transparent;
        border-style: solid;
        border-width: .2em;
        -webkit-box-shadow: 0 0 0 1px transparent;
        box-shadow: 0 0 0 1px transparent;
    }

    &::after,
    &::before {
        width: 2.28571429rem;
        height: 2.28571429rem;
		margin: 0 0 0 -1.14285714rem;
		box-sizing: border-box;
    }

    &[active],
    &[visible] {
        display: block;
    }

    &[disabled],
    &[hidden] {
	    display: none;
    }

    &[text]  {
        width: auto!important;
        height: auto!important;
        text-align: center;
        font-style: normal;
        padding-top: 3.07142857rem;
        min-width: 2.28571429rem;
    }

    &[inverted] {
        color: rgba(255, 255, 255, .9);
    }

    &[inverted]:before {
        border-color: rgba(255, 255, 255, .15);
    }

    &[inverted]:after {
        border-top-color: #fff;
    }
}

// [am-spinner="mini"]:after,
// [am-spinner="mini"]:before {
// 	width: 1rem;
// 	height: 1rem;
// 	margin: 0 0 0 -.5rem;
// }

// [am-spinner="tiny"]:after,
// [am-spinner="tiny"]:before {
// 	width: 1.14285714rem;
// 	height: 1.14285714rem;
// 	margin: 0 0 0 -.57142857rem;
// }

[am-spinner="small"]:after,
[am-spinner="small"]:before {
	width: 1.71428571rem;
	height: 1.71428571rem;
	margin: 0 0 0 -.85714286rem;
}

[am-spinner="large"]:after,
[am-spinner="large"]:before {
	width: 3.42857143rem;
	height: 3.42857143rem;
	margin: 0 0 0 -1.71428571rem;
}

// [am-spinner="big"]:after,
// [am-spinner="big"]:before {
// 	width: 3.71428571rem;
// 	height: 3.71428571rem;
// 	margin: 0 0 0 -1.85714286rem;
// }

// [am-spinner="huge"]:after,
// [am-spinner="huge"]:before {
// 	width: 4.14285714rem;
// 	height: 4.14285714rem;
// 	margin: 0 0 0 -2.07142857rem;
// }

// [am-spinner="massive"]:after,
// [am-spinner="massive"]:before {
// 	width: 4.57142857rem;
// 	height: 4.57142857rem;
// 	margin: 0 0 0 -2.28571429rem;
// }
// [am-spinner="mini"] {
// 	width: 1rem;
// 	height: 1rem;
//     font-size: .78571429em;
// }

// [am-spinner="tiny"] {
// 	width: 1.14285714rem;
// 	height: 1.14285714rem;
// 	font-size: .85714286em;
// }

[am-spinner="small"] {
	width: 1.71428571rem;
	height: 1.71428571rem;
	font-size: .92857143em;
}

[am-spinner="large"] {
	width: 3.42857143rem;
	height: 3.42857143rem;
	font-size: 1.14285714em;
}

// [am-spinner="big"] {
// 	width: 3.71428571rem;
// 	height: 3.71428571rem;
// 	font-size: 1.28571429em;
// }

// [am-spinner="huge"] {
// 	width: 4.14285714rem;
// 	height: 4.14285714rem;
// 	font-size: 1.14285714em;
// }

// [am-spinner="massive"] {
// 	width: 4.57142857rem;
// 	height: 4.57142857rem;
// 	font-size: 1.71428571em;
// }

// [am-spinner="mini"][text]  {
// 	min-width: 1rem;
// 	padding-top: 1.78571429rem;
//     font-size: .78571429em;
// }

// [am-spinner="tiny"][text]  {
// 	min-width: 1.14285714rem;
// 	padding-top: 1.92857143rem;
// 	font-size: .85714286em;
// }

[am-spinner="small"][text]  {
	min-width: 1.71428571rem;
	padding-top: 2.5rem;
	font-size: .92857143em;
}

[am-spinner="large"][text]  {
	min-width: 3.42857143rem;
	padding-top: 4.21428571rem;
	font-size: 1.14285714em;
}

// [am-spinner="big"][text]  {
// 	min-width: 3.71428571rem;
// 	padding-top: 4.5rem;
// 	font-size: 1.28571429em;
// }

// [am-spinner="huge"][text]  {
// 	min-width: 4.14285714rem;
// 	padding-top: 4.92857143rem;
// 	font-size: 1.42857143em;
// }

// [am-spinner="massive"][text]  {
// 	min-width: 4.57142857rem;
// 	padding-top: 5.35714286rem;
// 	font-size: 1.71428571em;
// }

@-webkit-keyframes am-spinner {
	from {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	to {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes am-spinner {
	from {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	to {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}