@import '../variables.scss';

[am-tooltip] {
    position: relative;

    [am-tooltip-header] {
        width: 100%;
        user-select: none;
        position: relative;
    }

    &[active] {
        [am-tooltip-header] {
            z-index: $zIndex-tooltip+1;
        }

        [am-tooltip-content] {
            margin: 0;
            opacity: 1;
            visibility: visible;
            pointer-events: auto;

            &[direction] {
                margin: 0;
            }
        }
    }

    [am-tooltip-content] {
        z-index: $zIndex-tooltip;
        position: absolute;
        width: 100%;
        height: 100%;
        left:0;
        top: 0;
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        margin: 5px 0 0 0;
        transition: all .15s ease-in-out;
        box-sizing: content-box;
        padding: 0 0 12px 0;

        // DIRECTION
        &[direction="right"] {
            padding: 0 12px 0 0;
            margin: 0 0 0 5px;

            [am-tooltip-wrapper] {
                left: auto;
                right: 0;
                margin: 0;
                top: 50%;
                transform: translate(100%, -50%);
                box-shadow: -2px 0px 5px 0 rgba(0, 0, 0, 0.1), -4px 0px 13px 0px rgba(0, 0, 0, 0.1);

                [am-tooltip-arrow] {
                    left: -16px;
                    top: 50%;
                    transform: translate(0, -50%) rotate(270deg);
                }
            }
        }

        &[direction="top"] {
            padding: 12px 0 0 0;
            margin: 0 0 5px 0;
            top: auto;
            bottom: 0;

            [am-tooltip-wrapper] {
                top: auto;
                bottom: 100%;
                box-shadow: 0px 3px 5px 0 rgba(0, 0, 0, 0.1), 0px 4px 13px 0px rgba(0, 0, 0, 0.1);

                [am-tooltip-arrow] {
                    top: auto;
                    bottom: -10px;
                    transform: translateX(-50%) rotate(180deg);

                    &[align="left"] {
                        transform: translateX(0) rotate(180deg);
                        left: 10%;
                    }

                    &[align="center"] {
                        transform: translateX(-50%) rotate(180deg);
                        left: 50%;
                    }

                    &[align="right"] {
                        transform: translateX(0) rotate(180deg);
                        left: auto;
                        right: 10%;
                    }
                }
            }
        }

        &[direction="left"] {
            margin: 0 5px 0 0;
            margin-top: 0;
            padding: 0;
            left: auto;
            right: 0;
            padding: 0 0 0 12px;

            [am-tooltip-wrapper] {
                left: 0;
                margin: 0;
                top: 50%;
                transform: translate(-100%, -50%);
                box-shadow: 3px 0px 5px 0 rgba(0,0,0,0.1), 5px 0px 13px 0px rgba(0,0,0,0.1);

                [am-tooltip-arrow] {
                    right: -16px;
                    top: 50%;
                    transform: translate(0, -50%) rotate(90deg);
                    left: auto;
                }
            }
        }


        // ALIGN BOTTOM
        &[align="left"]:not([direction]),
        &[align="left"][direction="bottom"] {
            left: 0;
            transform: translate(0, 0);

            [am-tooltip-wrapper] {
                left: 0;
                transform: translate(0, 0);
            }
        }

        &[align="stretch"]:not([direction]),
        &[align="stretch"][direction="bottom"] {
            [am-tooltip-wrapper] {
                min-width: 100%;
            }
        }

        &[align="right"]:not([direction]),
        &[align="right"][direction="bottom"] {
            left: auto;
            right: 0;
            transform: translate(0, 0);

            [am-tooltip-wrapper] {
                left: auto;
                right: 0;
                transform: translate(0, 0);
            }
        }

        // ALIGN TOP
        &[align="left"][direction="top"]  {
            left: 0;
            transform: translate(0, 0);

            [am-tooltip-wrapper] {
                left: 0;
                transform: translate(0, 0);
            }
        }

        &[align="stretch"][direction="top"] {
            [am-tooltip-wrapper] {
                min-width: 100%;
            }
        }

        &[align="right"][direction="top"] {
            left: auto;
            right: 0;
            transform: translate(0, 0);

            [am-tooltip-wrapper] {
                left: auto;
                right: 0;
                transform: translate(0, 0);
            }
        }
    }

    [am-tooltip-wrapper] {
        position: absolute;
        left:50%;
        top: 100%;
        transform: translateX(-50%);
        z-index:1;
        padding: 10px;
        background: #fff;
        border-radius: 3px;
        max-width: calc(100vw - 40px);
        white-space: normal;
        border: 0;
        box-shadow: 0px 3px 5px 0 rgba(0, 0, 0, 0.1), 0px -2px 13px 0px rgba(0, 0, 0, 0.1);

        [am-tooltip-arrow] {
            position: absolute;
            display: block;
            width: 16px;
            height: 16px;
            transform: translateX(-50%);
            left: 50%;
            top: -10px;
            width: 24px;
            height: 12px;
            z-index: $zIndex-tooltip;

            &::after {
                content: "";
                position: absolute;
                display: block;
                border-color: transparent;
                border-style: solid;
                top: 1px;
                border-width: 0 12px 12px 12px;
                border-bottom-color: #fff;
            }

            &[align="left"] {
                transform: translateX(0);
                left: 10%;
            }

            &[align="center"] {
                transform: translateX(-50%);
                left: 50%;
            }

            &[align="right"] {
                transform: translateX(0);
                left: auto;
                right: 10%;
            }
        }
    }
}