@import '../ui/index.scss';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    outline: none;
}

a {
    display: block;
}

ul {
    li {
        list-style: none;
    }
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    overflow-x: hidden;
    margin: 10px;
    background: rgb(240, 240, 240);
    height: 500vh;
}

[am-dropdown-header],
[am-tooltip-header] {
    padding: 10px;
    border: 1px solid #333;
    display: inline-block;
}

[am-container] + [am-container] {
    margin-top: 50px;
}